<div class="main-field">
  <div class="row header-row">
    <h3 class="col s6 offset-s3" id="supply-list-header">Edycja auta nr: <%=@cars_to_sell.id%></h3>
  </div>
<%= render 'form', cars_to_sell: @cars_to_sell %>
</div>