<div class="main-field">
  <div class="row header-row">
    <h3 class="col s6 offset-s3" id="supply-list-header">Edycja wypożyczenia nr: <%=@renting.id%></h3>
  </div>
<%= render 'form', renting: @renting %>
</div>