<div class="main-field">
  <div class="row header-row">
    <h3 class="col s6 offset-s3" id="supply-list-header">Edycja zniżki nr: <%=@supply.id%></h3>
  </div>
<%= render 'form', discount: @discount %>
</div>