<div class="main-field">
  <div class="row header-row">
    <h3 class="col s6 offset-s3" id="supply-list-header">Edycja zlecenia naprawy nr: <%=@service_center.id%></h3>
  </div>
<%= render 'form', service_center: @service_center %>
</div>