<div class="main-field">
  <div class="row header-row">
    <h3 class="col s6 offset-s3" id="supply-list-header">Stany magazynowe</h3>
  </div>
  <div class="row">
    <table class="striped bordered col l10 offset-l1">
      <thead>
      <tr>
        <th>Nazwa elementu</th>
        <th>Ilość</th>
        <th>Stan</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @warehouses.each do |warehouse| %>
        <tr>
          <td><%= warehouse.element %></td>
          <td><%= warehouse.amount %></td>
          <td>
            <% if(warehouse.amount >= 100) %>
              <span class="green-text" style="font-weight: bold">Dużo</span>
            <% elsif(warehouse.amount < 100 && warehouse.amount >= 50) %>
              <span class="orange-text" style="font-weight: bold">Mało</span>
            <% else %> <span class="red-text" style="font-weight: bold">Bardzo mało</span> <% end %>
          </td>
          <td class="link"><%= link_to 'Edycja', edit_warehouse_path(warehouse) %></td>
          <td class="link"><%= link_to 'Usuń', warehouse, method: :delete, data: { confirm: 'Czy jesteś pewien?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
